.dropdown{
    height: 2rem;
}
.dropdown-menu{
    width:20rem;
     text-align: center;
     color:white;
     background: lightgray;
     position:relative;
}
.dropdown-menu:hover{
    color:white;
    background:grey;
}